@import "tailwindcss";

/* index.css */

body {
  min-height: 100vh;         /* ensures full viewport height */
  margin: 0;                 /* removes default body margin */
  font-family: sans-serif;   /* optional: makes text look cleaner */
}
.bg {
  width: 100%;
  height: 100%;
  background-image: url('./assets/hospital.jpg');
  background-size: cover;
  background-position: center;
  
}
a.active hr{
    display: block;
}
